@{
    ViewBag.Title = "Home Page";
}
@model CarouselViewModel

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        Test for header & footer från "_Layout.cshtml"

    col-lg-8 col-md-10 col-sm-12 
    col-lg-4 col-md-6 col-sm-8 
     pl-0 dnf_content p-2
     container dnf_content p-2

     col-lg-8 col-md-10 col-sm-12 pl-2 
    col-lg-3 col-md-6 col-sm-12 
    </div>*@

    <div class="row ml-0 mr-0">
        <div class="col-lg-8 col-md-10 col-sm-12 pl-0 pr-0 justify-content-center">
        <div class="dnf_content p-2">
            <div style="background-color:#F5F4E1" id="HomeCarousel" class="carousel slide mb-2" data-ride="carousel">

                <ol class="carousel-indicators" style="color: #686460">
                    <li data-target="#HomeCarousel" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i < Model.Carouseldata.Count(); i++)
                    {
                        <li data-target="#HomeCarousel" data-slide-to="@i"></li>
                    }
                </ol>

                <h2>Featured films</h2>
                <div class="carousel-inner">

                    @{string s = "";}
                    @foreach (var data in Model.Carouseldata)
                    {
                        if (data.Id == Model.Carouseldata.First().Id)
                        {
                            s = "active";
                        }
                        else { s = ""; }
                        <div class="carousel-item @s container">
                            <p class="font24">
                                <img class="float-left dnf_content" height="315" width="500" src="@data.ImgPath" alt="" />
                                <h2>@data.Title</h2>
                                "@data.Text"
                                <br />
                                <br />
                                <i>Posted on @data.DateAdded.ToString("dd MMMM yyyy")</i>
                            </p>
                        </div>
                    }
                    <a class="carousel-control-prev" href="#HomeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#HomeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 pl-0 pr-0">
            <div class="dnf_content p-2">
                <h2>Latest Reviews</h2>
                @await Component.InvokeAsync("RecentReviews")
            </div>
        </div>
    </div>
<div class="dnf_content p-2">
    <h2>Welcome!</h2>
    <p>
        You have found the number one platform where passionate cineasts can meet and broaden their horizons!
    </p>
    <p>
        The idea is simple, we provide a broad online community for movie lovers where they can rate movies, write reviews, create movie lists and interact with one another.
    </p>
    <p>
        Cinephilia (/ˌsɪnɪˈfɪliə/; also cinemaphilia or filmophilia) is the term used to refer to a passionate interest in films, film theory, and film criticism. The term is a portmanteau of the words cinema and philia, one of the four ancient Greek words for love.[1] A person with a passionate interest in cinema is called a cinephile (/ˈsɪnɪfaɪl/), cinemaphile, filmophile, or, informally, a film buff (also movie buff).

        In English, "cinephile" is sometimes used interchangeably with the word cineaste (/ˈsɪniæst, ˈsɪneɪæst/), though in the original French the term cinéaste ([sineast]) refers to a cinephile who is also a filmmaker.
    </p>
</div>

