@model WishlistViewModel

@{
    ViewData["Title"] = "Wishlist";
}

<h1>Wishlist</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title / Year</th>
            <th>Added to wishlist</th>
        </tr>
    </thead>
    <tbody>
@foreach (var movie in Model.WishlistMovies) {
        <tr>
            <td><a asp-controller="Movie" asp-action="MovieInfo" asp-route-movieid="@movie.MovieId">
                @movie.Title
                @movie.Year.GetValueOrDefault()
            </a></td>
            <td>@movie.DateAdded.ToShortDateString()</td>
            <td>
                <a asp-controller="Movie" asp-action="RateMovie" asp-route-movieid="@movie.MovieId" type="submit" class="btn btn-info">Rate movie</a>                
                <a asp-controller="UserMovie" asp-action="RemoveFromWishlist" asp-route-movieId="@movie.MovieId" type="submit" class="btn btn-outline-danger mr-1">Remove from wishlist</a>
            </td>
        </tr>
}
    </tbody>
</table>
