<div class="container">
    <div class="row">
        <!-- POSTER -->
        <div class="col-md-6 col-lg-4 text-center">
            @if (@Model.Movie.PosterUrl == null)
            {
                <img height="428" width="300"
                     src="https://thefilmuniverse.com/wp-content/uploads/2019/09/Poster_Not_Available2.jpg" />
            }
            else
            {
                <img height="428" width="300" src=@Model.Movie.PosterUrl />
            }
        </div>       
        <!-- MOVIE INFO -->
        <div class="col-md-6 col-lg-8">
            <h1 class="display-4">@Model.Movie.Title</h1>
            <hr />
            <p><b>Original title:</b> @Model.Movie.OriginalTitle</p>
            <p>
                <b>Genres:</b>
                @for (int i = 0; i < Model.Movie.Genres.Count; i++)
                {
                    @Model.Movie.Genres[i]
                    if (i < Model.Movie.Genres.Count - 1)
                    {<span>, </span>}
                }
            </p>
            <p><b>Released:</b> @Model.Movie.ReleaseDate</p>
            <p>
                <b>Runtime:</b> @if (Model.Movie.RunTime != null)
                {
                    @Model.Movie.RunTime {<span> minutes</span>}
                }
                else
                { <span>(Unknown)</span>}
            </p>
            <p><b>Director:</b> @Model.Movie.Director</p>
            <p>
                <b>Actors:</b>
                @for (int i = 0; i < Model.Movie.Actors.Count; i++)
                {
                    @Model.Movie.Actors[i]
                    if (i < Model.Movie.Actors.Count - 1)
                    {<span>, </span>}
                }
            </p>
            <hr />
            <p><b>Plot:</b> @Model.Movie.LongPlot</p>
        </div>
    </div>
    <div class="row justify-content-end">
        <form asp-controller="Movie">
            @if (true)
            {
                <button asp-action="Wishlist" type="submit" class="btn btn-info">Add to wishlist</button>
            }
            else
            {
                <button asp-action="RemoveFromWishlist" asp-route-movieid="@Model.Movie.Id" type="submit" class="btn btn-info">remove from wishlist</button>
            }

            <button asp-action="RateMovie" asp-route-movieid="@Model.Movie.Id" type="submit" class="btn btn-info">Rate</button>
        </form>
    </div>
</div>

