@model MovieListViewModel

<h1>Movies</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Genres</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {

            <tr>
                <td><a asp-controller="Movie" asp-action="MovieInfo" asp-route-movieid="@movie.Id">@movie.Title</a></td>
                <td>@movie.Year</td>
                <td>
                    @{
                        int nrGenres = movie.Genres.Count();
                        for (int i = 0; i < nrGenres; i++)
                        {
                            @movie.Genres[i];
                            if (i + 1 < nrGenres && nrGenres != 0)
                            { <span> | </span> }
                        }
                    }
                </td>
                <td>
                    <form asp-controller="Movie" asp-action="Wishlist" asp-route-movieid="@movie.Id">
                        <button class="btn btn-outline-success">Add to wishlist</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Movie" asp-action="RateMovie" asp-route-movieid="@movie.Id">
                        <button class="btn btn-outline-primary">Rate Movie</button>
                    </form>
                </td>
            </tr>

        }

    </tbody>
</table>