@model DotNetflix.Web.ViewModels.SearchResultViewModel

@{
    ViewData["Title"] = "SearchResult";
}

    <div class="container dnf_content">
        <h1>Search result</h1>
        <p class="mt-2">
            Your search generated @Model.SearchResult.Count results.
        </p>
        <div class="row">
            @foreach (var movie in Model.SearchResult.Movies)
            {
                <div class="col-sm-12 col-md-6 col-lg-3 p-0 card-group">
                    <div class="card">
                        <div class="card-body">
                            <a asp-controller="Movie" asp-action="MovieInfo" asp-route-movieid="@movie.Id">
                                <img class="card-img-top img-fluid max-width: 100% height: auto" src="@movie.PosterUrl" />
                                <p class="card-title">@movie.Title</p>
                            </a>
                            <p class="card-text">
                                (@movie.Year)<br />
                                <b>@movie.Director</b><br />
                                <i>@movie.Country</i>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a asp-controller="UserMovie" asp-action="AddToWishlist" asp-route-movieId="@movie.Id" type="submit" class="btn btn-info m-1">Add to wishlist</a>
                            <a asp-controller="Movie" asp-action="RateMovie" asp-route-movieid="@movie.Id" type="submit" class="btn btn-info m-1">Rate movie</a>
                        </div>
                    </div>
                </div>
            }
        </div>



        <div>

            <ul class="pagination">

                <li class="page-item @(!Model.SearchResult.ShowFirst? "disabled":"")">

                    <a asp-page="/pagination" asp-route-title="@Model.SearchResult.Title" asp-route-CurrentPage="1" class="page-link"><i class="fas fa-fast-backward"></i></a>

                </li>



                <li class="page-item @(!Model.SearchResult.ShowPrevious? "disabled":"")">

                    <a asp-page="/pagination" asp-route-title="@Model.SearchResult.Title" asp-route-CurrentPage="@(Model.SearchResult.CurrentPage -1)" class="page-link"><i class="fas fa-step-backward"></i></a>

                </li>

                <li class="page-item  @(!Model.SearchResult.ShowNext? "disabled":"")">

                    <a asp-page="/pagination" asp-route-title="@Model.SearchResult.Title" asp-route-CurrentPage="@(Model.SearchResult.CurrentPage + 1)" class="page-link"><i class="fas fa-step-forward"></i></a>

                </li>



                <li class="page-item  @(!Model.SearchResult.ShowLast? "disabled":"")">

                    <a asp-page="/pagination" asp-route-title="@Model.SearchResult.Title" asp-route-CurrentPage="@Model.SearchResult.TotalPages" class="page-link"><i class="fas fa-fast-forward"></i></a>

                </li>

            </ul>

        </div>
    </div>

